<h1>You Got Burgers!!</h1>

<h2>These are some good Burgers!</h2>



<div class="container">
  <div class="row">
  <div class="col-sm-4">
    {{#each burgers}}
    {{#unless this.devoured}}
    <div class="card">
    
      <div class="card-body">
   
        <p class="card-text">
    {{this.burger_name}}
        </p>
       <form  method="PUT" >
         
       <button type="submit" data-id="{{this.id}}" class="btn btn-primary changedevoured"  name="devoured" id="devoured" value="1"> Devour! </button>
       </form>
      </div>
    </div>
    {{/unless}}
{{/each}} 

  </div>


  <div class="col-sm-4">

  </div>



  <div class="col-sm-4">
      {{#each burgers}}
    {{#if this.devoured}}
    <div class="card">
    
      <div class="card-body">
   
        <p class="card-text">
  
    
    {{this.burger_name}}
    </p>
      
      </div>
    </div>
    {{/if}}
{{/each}} 
  </div> 

  </div>




<h2>Add a Burger!!</h2>
<form class="create-form" >

    <div class="form-group">

        <label for="bur">Burger Name:</label>
        <input type="text" class="form-control" id="bur" name="burger_name" placeholder="What do you feel like getting?">
    </div>

    <button type="submit" class="add-burger btn btn-primary"> Add a Burger! </button>
</form>

