body{
    background-color: orange;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    font-weight: bold
}

h2{
    text-align: center;
    padding: 10px;
    font-weight: bold
}

form{
    text-align: center;
    padding: 10px;
}

ul{
    text-align: center;
}


li{
    background-color: lightgray;
    
}


.card{
    margin: 6px;
    
}

.middle img{
   
	display: block;
}

#add{
    font-weight: bold
}

